body {
    background-image: url('siteImages/brickWall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    margin: 0;
    
}

header, main, footer {
    width: 66.66%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

