
body {
    background-image: url('siteImages/Food_Sidebar_Small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    margin: 0;
    
}

header, main, footer {
    width: 66.66%;
    margin: auto;
    background-color: rgba(163, 149, 149, 0.8);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

header, footer {
    text-align: center;
    font: 1em garamond;
}

header {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.logo {
    width: 75px;
    height: auto;
    margin-right: 20px;
}

main {
    text-align: left;
    font: 1em verdana;
}

nav a {
    margin-left: 20px;
    margin-right: 20px;
}

 