#servingSize {
    font-style: italic;
    font-weight: bold;
}

#recipeContainer {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
}

#ingredients table {
    flex: 0 0 40%;
    background-color: rgb(227, 210, 210);
    border-collapse: collapse;
}

#ingredients th,
#ingredients td {
    border: 1px solid #000;
    padding: 10px;
}

#ingredients th {
    background-color: rgb(155, 143, 143);
}

#instructions {
    flex: 0 0 40%;
}

#allRecipes {
    display: none;
    position: absolute;
    transform: translateY(-2%);
    width: 300px;
    margin-top: 20px;
    background-color: rgba(227, 210, 210, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#allRecipes li {
    display: block;
    margin: 0;
    font-size: small;
}

#allRecipes li:hover {
    color: #b1aaaa;
    cursor: pointer;
}

#allRecipes li h3,
#allRecipes li h4 {
    color: #000;
    cursor: default;
}

.recipeToggle {
    display: none;
}

.recipeLabel {
    display: inline-block;
}

.recipeLabel:hover {
    color: #b1aaaa;
    cursor: pointer;
}

.recipeLabel:hover + #allRecipes {
    display: block;
}

#allRecipes:hover {
    display: block;
}
